<nav>
    <div class="site-title">
        <a href="/"><h1> Carbon particles </h1></a>
        <p>Carbon particles</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li> <!--Link to the home page!-->
        <li><a href="/reference">reference</a></li>
        <li><a href="/graphs">Graphs</a></li> <!--To form a new page! -->
    </ul>
</nav>