<html>
    <head>
    <title>References</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="container">

    <div class="card">

        <h1>References</h1>

        <div class="references">

[1] S. Swain, M. C. Tripathy, and S. Behera...

[2] S. Swain, M. C. Tripathy...

[3] S. Swain, M. C. Tripathy...

[4] B. Nayak, S. Swain...

[5] S. Swain, M. C. Tripathy...

[6] B. Nayak, S. Swain...

        </div>

    </div>

</div>
        <%-include('./partials/footer.ejs') %>

    </body>
</html>